<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Student</title>
</head>
<body>
<h2>Create new Student</h2>
<form>
    <label for="id"></label>
    <input type="text" id="id" name="ID" th:value="${studentError}"/>

    <label for="firstName"></label>
    <input type="text" id="firstName" name="firstName">

    <label for="lastName"></label>
    <input type="text" id="lastName" name="lastName">

    <label for="email"></label>
    <input type="text" id="email" name="email">

    <label for="dob"></label>
    <input type="text" id="dob" name="dob">

    <label for="sex"></label>
    <input type="text"  id="sex" name="sex">

    <label for="phoneNumber"></label>
    <input type="text" id="phoneNumber" name="phoneNumber">

    <label for="status"></label>
    <select id ="status" name="status">
        <option th:value=""/>
        <option th:value=""/>
        <option th:value=""/>
    </select>

    <label for="lastName"></label>
    <select name="majorId">
        <option name=""/>
    </select>

</form>

</body>
</html>